{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="alert-success container_welcome">
                Welcome to Time Tracker
        </div>
    </div>
{% endblock %}